/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}





.title {
    font-size: 128px;
    font-family: Castoro;
    margin-top: 160px;
    margin-left: 312px;
    line-height: 192px;
}

.containerTop>img {
    margin-left: 642px;

}

.containerFull {
    background-color: #EFEFEF;
    padding: 48px 0 48px 0;
    margin-bottom: 80px;
}

.pp {
    width: 636px;
    height: 336px;
    font-size: 32px;
    line-height: 48px;
    font-family: Castoro;
    padding: 0 48px 0 0;
}
.pos {
    margin: 0px auto 0px 972px;
}

.paragraphBox1 {
    width: 636px;
    margin-left: 312px;
    margin-bottom: 24px;
}

.paragraphBox1>h2 {
    color: #AE0000;
    font-size: 40px;
    line-height: 60px;
    font-family: Castoro;
    border-bottom: 3px solid #AE0000;
    margin-bottom: 20px;
    margin-top: 40px;
}

.paragraphBox1>p {
    padding-right: 55px;
    color: #000000;
    font-size: 24px;
    line-height: 36px;
    font-family: Castoro;
}
.normal {
    margin-bottom: 16px;
}

.paragraphBox1>p>i {
    font-style: italic;
    color: #949494;
    font-size: 20px;
    line-height: 30px;
    font-family: Castoro;
}

.Awards {
    margin-bottom: 12px
}

/* Set footer elements */
footer {
    height: 192px;
    background-color: #000000;
    margin-top: 160px;
    padding-bottom: 64px;
    padding-top: 64px;
    /*文字水平置中*/
    text-align: center;
}

/* Set footer elements */
footer>img {
    margin-right: 40px;
}

