@Styles.Render("~/CSS/D1")
<html>
<body>
    @*區塊1*@
    <div class="containerTop">
        <h1 class="title">VITO</h1>
        <img src="~/Image/vito.png" alt="picture">
        <p class="title pos">RESUME</p>
    </div>

    @*區塊2*@
    <div class="containerFull">
        <p class="pp pos">
            I'm Vito, a UI Designer with 5+ years of experience.
            I create visually appealing interfaces for web and mobile apps.
            Proficient in Sketch, Adobe XD, Figma, HTML, CSS, and JavaScript.
            I enjoy collaborating with others to create high-quality products.
        </p>
    </div>

    @*區塊3*@
<div class="containerThird">
    <div class="paragraphBox1">
        <h2>
            Vito Evans
        </h2>
        <p class="normal">
            456 Walnut Avenue, Someville, USA<br />
            +1 123 456 7890<br />
            info@hexschool.com<br />
            www.infohexschool.com
        </p>
    </div>

    <div class="paragraphBox1">
        <h2>
            Education
        </h2>
        <p class="normal">
            <i>2014-2018</i><br />
            Bachelor of Science in Business Administration, University of California, Los Angeles
        </p>
        <p class="normal">
            <i>2012-2014</i><br />
            Associate of Arts in Graphic Design, San Francisco State University
        </p>
        <p class="normal">
            <i>2008-2012</i><br />
            High School Diploma, Lincoln High School
        </p>

    </div>
    <div class="paragraphBox1">
        <h2>
            Work
        </h2>
        <p class="normal">
            <i>2018-2021</i><br />
            Marketing Manager, ABC Company
        </p>
        <p class="normal">
            <i>2016-2018</i><br />
            Sales Associate, XYZ Corporation
        </p>
        <p class="normal">
            <i>2014-2016</i><br />
            Customer Service Representative, QRS Inc.
        </p>
    </div>
    <div class="paragraphBox1">
        <h2>
            Awards
        </h2>
        <p class="Awards">
            Best in Show Award, National Advertising Awards, 2020
        </p>
        <p class="Awards">
            Honorable Mention, International Design Competition, 2019
        </p>
        <p class="Awards">
            People's Choice Award, Local Art Exhibition, 2018<br />
        </p>
    </div>



</div>



    @*footer*@
    <footer>
        <img src="~/Image/fb.png" alt="facebook">
        <img src="~/Image/instagram.png" alt="ig">
        <img src="~/Image/line.png" alt="line">
    </footer>
</body>
</html>